.empty {
    height: 100px;
    width: 100%;
    background: deepskyblue;
    position: absolute;
}

.obj {
    position: absolute;
   /* background: green;*/
}

.obj img{
    border-radius: 50px;
}

#game-content {
    position: absolute;

    top: 100px;
    left: 0;
    margin-left: 10% ;
    width: 80%;
    height: 1000px;

    /*background: darkgrey;*/
   /* cursor: none;*/

}

.dog-bark {
    /*cursor: move;*/
    /*cursor: url('i/dog_step-5-barks.svg'), pointer;*/
}

.dog-run {
    /*cursor: cell;*/
    /*cursor: url('i/dog_step-5-run.svg'), pointer;*/
}

.dog-sit {
    /*cursor: pointer;*/
   /* cursor: url('i/dog_step-4-sit.svg'), pointer;*/
}

#dog {
    /*background: green;*/
}


#dog img {
   border-radius: 50%;
}

#wall {
    cursor: pointer;
}

#score {
    position: absolute;
    background: red;
    height: 20px;
    width: 50px;
    z-index: 1000;
}


.left {
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
/*
#stall {
    background: white;
}

#stall-2 {
    background: black;
}
#stall-3 {
    background: grey;
}
#stall-4 {
    background: red;
}
*/
.not-available img{
    opacity: 0.7;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    background: #CB4B16;
    border-radius: 80%;
    backface-visibility: hidden;
}