.obj {
    position: absolute;
   /* background: green;*/
}

.obj img{
    border-radius: 50px;
}

#content {
    width: 2000px;
    height: 1000px;
    background: aliceblue;

}

.dog-bark {
    /*cursor: move;*/
    cursor: url('i/dog_step-5-barks.svg'), pointer;
}

.dog-run {
    /*cursor: cell;*/
    cursor: url('i/dog_step-5-run.svg'), pointer;
}

.dog-sit {
    /*cursor: pointer;*/
    cursor: url('i/dog_step-4-sit.svg'), pointer;
}

#wall {
    cursor: pointer;
}


#score {
    position: absolute;
    background: red;
    height: 20px;
    width: 50px;
    z-index: 11;
}


.left {
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}